*{
    box-sizing: border-box;
}
body{
    /*
     Posicionamento
     Display e Box Model
    */
    margin: 0;
    font-family: Arial;

    /*
        Cores
    */

    /*
        Texto
    */

    /*
        Outros
    */
}

