.container{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.plano{
    padding: 10px;

    border: 1px solid #ccc;
}

.plano:last-child{
    margin-right: 0;
}
.plano__cabecalho{
    margin: -10px;
    margin-bottom: 0px;

    background-color: gray;
    color: #fff;

    font-size: 20px;
    text-align: center;
    line-height: 2.5;
    font-weight: normal;
}

.plano__preco{
    margin: 20px 0;

    font-size: 20px;
    text-align: center;
}

.plano__caracteristicas{
    margin: 20px 0;
    padding: 0;

    list-style: none;
}

.plano__caracteristicas > li{
    text-align: center;
}

.plano__rodape{
    text-align: center;
}


.botao--assinar{
    display: inline-block;
    padding: 12px 16px;

    background-color: green;
    color: #fff;
    
    text-decoration: none;
}

.botao--assinar:hover, .botao--assinar:focus{
    background-color: red;
}