body{
    font-size: 24px;
}

/*herda do pai */
.texto{
    font-size: 2em;
}

.texto span{
    font-size: 0.5em;
}

/*Herda direto do primeiro pai da hierarquia  0.8*16px= 12.80px */
.exemplo{
    font-size: 0.8rem;
}

h1{
    font-size: 96px;
    color: green;
}
.teste{
    font-size: 48px;
}

#titulo{
    font-size: 10px;
}
/* especificidade 
    id 
    classe
    seletor(tag)
*/